.toggle-switch input {
  display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px; 
  height: 25px; 
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px; 
  transition: .4s; 
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px; 
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%; 
  transition: .4s;
}

.toggle-switch input:checked + .slider {
  background-color: #2196F3;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(26px); 
}