:root {
    --cor-primaria: #ecebe8;
    --cor-secundaria: #060caa;
    --cor-destaque: #f05d5e;
    --cor-inatel: #060caa;
}

body {
    background-color: var(--cor-primaria);
    font-family: Arial, sans-serif;
    margin:0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-inatel);
    padding: 10px 15px;
    margin: 0;
}

header p{
    margin:0;
    font-size: 20px;
    color: white;
}

#botao-menu {
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px; 
}

#side-bar { 
    position: fixed;
    top:0;
    left: -280px;
    width: 260px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 200;
    background-color: var(--cor-inatel);
    color: white;
    padding: 10px;
}

#side-bar.ativo {
    left:0;
}

.perfil {
    color: white;
    padding: 20px;
    text-align: left;
}

#side-bar img {
    width: 70px;
    height: 70px;
    margin: 0 auto 10px auto;
}

.secao {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#side-bar li {
    list-style: none;
    padding: 0px;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
}

#side-bar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

#side-bar ul li a:hover {
    color: #e6e6e6;
}

.secao p {
    font-size: 14px;
    font-weight: bold;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

#overlay.ativo {
    opacity: 1;
    pointer-events: all; 
}

.dark {
    --cor-primaria: #333e52;
    --cor-secundaria: #1e275b;
    --cor-destaque: #a64c4c;
}

@media (min-width: 768px) {
    #side-bar {
        left: -280px;
    }

    #side-bar.ativo {
        left: 0;
    }
}